
<a class= "naziv">{{restoran.naziv}}</a>
            <div class= "rest">
                <img class= "slika" src="{{restoran.slika[0]}}">
                <div class="info">
                    <a class= "adresa">Adresa: {{restoran.adresa}}</a>
                    <a class= "telefon">Telefon: {{restoran.telefon}} </a>
                    <a class= "ocena">Ocena: <fa-icon [icon]="faStar"></fa-icon>{{restoran.ocena}}</a>
                    <fa-icon [icon]="faCoffe"></fa-icon>
                </div>
            </div>