<div class="regContainer">

    <div class = "regDialog">

        <div class="regLabelaDiv">
            <h1>Login</h1>
        </div>

        <div class = "usernameDiv">
            <a class = "labeleUnosa">Username: </a>
            <input class="usernameUnos">
        </div>
        
        <div class = "passwordDiv">
            <a class = "labeleUnosa">Password: </a>
            <input class="passwordUnos">
        </div>

        <div class = "dugmiciDiv">
            <div class = "dugmici" >Login</div>
            <div class = "dugmici">Zaboravio/la sifru</div>
        </div>

    </div>
    
</div>